
  <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">


    <nz-row >
      <nz-col [nzSpan]="12">
        <h2 class="animate__animated">Overview</h2>
      </nz-col>
      <nz-col [nzSpan]="12" style="text-align:right;">
        <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          Today
          <i nz-icon nzType="down"></i>
        </button>
         <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>This week</li>
            <li nz-menu-item>This month</li>
          </ul>
        </nz-dropdown-menu>
        <button (click)="refreshCharts();" nz-button nzType="primary" ><i nz-icon nzType="reload"></i></button>
      </nz-col>
    </nz-row>

    

    <br>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="16" nzLg="16" nzXs="24">


        <nz-card [nzBodyStyle]="{'padding':'0px'}">
          <nz-row [nzGutter]="0" style="padding:20px;">
            <nz-col [nzSpan]="24" nzLg="24" nzXs="24" >
              <h3><i nz-icon nzType="amazon" nzTheme="outline"></i> Amazon Sales</h3>
            </nz-col>
           
          </nz-row>
    
    
          <nz-row [nzGutter]="0">
              <nz-col [nzSpan]="8" nzLg="8" nzXs="24" style="border-right:1px solid #eee ;padding-left: 30px;">
                <nz-statistic  [nzValue]="(salesData[0] | number)!" [nzTitle]="'Revenue'"> </nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="8" nzLg="8" nzXs="24" style="border-right:1px solid #eee ;padding-left: 30px;">
            
                <nz-statistic [nzValue]="(salesData[1] | number)!" [nzTitle]="'Cost'"></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="8" nzLg="8" nzXs="24" style="padding-left: 30px;">
             
                <nz-statistic [nzValue]="(salesData[3] | number: '1.0-2')!" [nzTitle]="'Profit'"></nz-statistic>
    
              </nz-col>
          </nz-row>
          <br>
            <div echarts [options]="chartLineOption" (chartInit)="onChartLineInit($event)"></div>
          
        </nz-card>

        

      </nz-col>

      <nz-col [nzSpan]="8" nzLg="8" nzXs="24">
        <nz-card style="margin-bottom:10px;height: 190px;">
          <nz-statistic [nzValue]="(salesData[3] | number: '1.0-2')!" [nzTitle]="'Sales Orders'"></nz-statistic>
        </nz-card>

        <nz-card style="margin-top:10px;height: 190px;">
          <nz-statistic [nzValue]="(salesData[3] | number: '1.0-2')!" [nzTitle]="'Sales Orders'"></nz-statistic>
        </nz-card>

      </nz-col>

    </nz-row>
    
    
  
    </nz-spin>


  