<h3>Amazon Sales</h3>

<nz-table
      nzShowSizeChanger
      [nzData]="listOfRandomUser"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="reportDate" [nzSortFn]="true">reportDate</th>
          <th nzColumnKey="amount" [nzFilters]="filterGender" [nzFilterFn]="true">amount</th>
          <th nzColumnKey="qty" [nzSortFn]="true">qty</th>
          <th nzColumnKey="numOfOrders" [nzSortFn]="true">numOfOrders</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfRandomUser">
          <td>{{ data.reportDate }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ data.qty }}</td>
          <td>{{ data.numOfOrders }}</td>
        </tr>
      </tbody>
    </nz-table>